# Copy to .env and update the URL to match your Firebase Studio workspace
#VITE_API_URL=https://8000-firebase-attendance-system-1773135120418.cluster-vpxjqdstfzgs6qeiaf7rdlsqrc.cloudworkstations.dev/api/v1
VITE_API_URL=/api/v1